<form (ngSubmit)="submit($event)" [formGroup]="formulario">
  <h2>Personal</h2>
  <label for="name">Name</label>
  <input id="name" formControlName="name" />
  <ng-container
    *ngIf="formulario.controls.name.dirty && formulario.controls.name.errors"
  >
    <div *ngIf="formulario.controls.name.errors.required">This is required</div>
    <div *ngIf="formulario.controls.name.errors.minlength">Min length is 5</div>
    <div *ngIf="formulario.controls.name.errors.maxlength">
      Max length is 15
    </div>
    <div *ngIf="formulario.controls.name.errors.nameAlreadyExists">
      Name is already in use
    </div>
  </ng-container>

  <label for="lastName">lastName</label>
  <input id="lastName" formControlName="lastName" />

  <label for="name">Email</label>
  <input id="email" formControlName="email" type="email" />
  <ng-container *ngIf="email.dirty && email.invalid">
    <div *ngIf="email.errors?.email">Wrong Email</div>
  </ng-container>

  <hr />
  <div formGroupName="address">
    <h2>Address</h2>
    <label for="street">Street</label>
    <input id="street" formControlName="street" />

    <label for="city">City</label>
    <input id="city" formControlName="city" />

    <label for="zip">Zip</label>
    <input id="zip" formControlName="zip" />
    <ng-container *ngIf="zip.dirty && zip.errors">
      <div *ngIf="zip.errors.invalidZip">Invalid Zip</div>
    </ng-container>
  </div>
  <button [disabled]="!formulario.valid">Submit</button>
</form>
