<h1>Storages</h1>

<h2>Local Storage</h2>
<button (click)="saveLocal()">Save Local</button>
<button (click)="removeLocal()">Remove Local</button>
<button (click)="retrieveLocal()">Get Local</button>
<button (click)="deleteLocal()">Delete Local</button>
---------------------//--------------------

<h2>Session Storage</h2>
<button (click)="saveSession()">Save Session</button>
<button (click)="removeSession()">Remove Session</button>
<button (click)="retrieveSession()">Get Session</button>
<button (click)="deleteSession()">Delete Session</button>
