<!-- Data Binding -->
<!-- <app-data-binding></app-data-binding> -->

<!-- Directivas estructurales y directivas de atributo -->
<!-- <app-directivas></app-directivas> -->

<!-- Lifecycle & ViewChild/ViewContent y @Input & Output-->
<!-- <app-life-cycle [item]="item">
  <p #contenido>Esto es content projection!</p>
</app-life-cycle> -->

<!--<button (click)="updateItem()">update</button> -->
<!-- <app-view-child></app-view-child> -->

<!-- Formularios driven model  -->
<!-- <app-forms></app-forms> -->

<!-- <app-pipes></app-pipes> -->

<!-- <app-observables></app-observables> -->

<!-- <app-reactive-forms></app-reactive-forms>
<app-wizards></app-wizards>
 -->

 <nav>
  <ul>
    <li><a routerLink="/posts" routerLinkActive="active">Posts Lists</a></li>
    <li><a routerLink="/users" routerLinkActive="active">Users List</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
